{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs":"3",
        "targets": {
          "node": "12.13.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-decorators",
    "@babel/plugin-proposal-class-properties"
  ],
  "compact": true,
  "comments": false,
}
